.second-form ngx-mat-input-timezone {
  --ngxMatInputTimezone-opacity: 1;
}

.buttons-container {
  display: flex;
  gap: 16px;
}

mat-divider {
  margin-bottom: 16px;
}

.separated-flag {
  margin-left: 128px;
}
